

#block-1{
background-image: linear-gradient(-180deg, #FD8888 0%, #C6C6C6 81%);
}

#block-2 {
  padding-bottom: 50px;
}

#block-3{
  /* Rectangle 2: */
background-image: linear-gradient(-180deg, #6190D0 0%, #BDBDBD 100%);

}

#block-4{
 background-color: white;
}

#introPic {
  vertical-align: middle;
  max-width: 85%;
}

#contactlinks{
padding-top: 20px;
}

.wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle {
  height: 400px;
  width: 300px;
  background-color: #555;
  border: 2px black;
  position: absolute;

}

a{
  color: black;
}

#portrait {

  margin: auto;
  max-width: 90%;
  max-height: auto;


}

h2 {
  color: #262C2E;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 3em;
  padding: 3px;
}

h1 {
  color: #262C2E;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
}

/* #introBack {
text-align: center;
  vertical-align: middle;
  margin: auto;
} */

#firstButton {
  padding: 20px;
  background-color: #d4418e;
  background: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
  border: 1px solid #575757;
  border-radius: 30px;
  font-family: LucidaGrande;
  font-size: 32px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFFFFF;
  position: relative;
  left: 47%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  padding: 10px;
  border-bottom: 4px solid black;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: none;
  z-index: 9999;
  width: 100%;
  list-style-type: none;

}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
}
